/*
 * --------------------
 * Blog Styling
 * --------------------
 */

.main-content
  .post
    main
      background: $orange
      padding: 70px 70px 80px
      margin: 0 5.2305%
    .entry-thumbnail-side
      padding: 0
      background-size: cover
      background-repeat: no-repeat
      background-size: cover
      a, a:hover, a:active
        outline: none
    .entry-thumbnail
      margin: -70px -70px 80px
      a
        @include position(absolute, 0)
        opacity: 0
        &:hover, &:active
          outline: none
    .entry-title
      margin-bottom: 20px
      a
        color: $white
        &:hover
          text-decoration: none
    .entry-content
      color: $white
    .entry-footer
      .read-more-link
        color: $white
        font-weight: bold
        text-decoration: underline
    &:not(:last-child)
      margin-bottom: 140px
    &:nth-child(odd)
      .entry-thumbnail-side
        order: 1
    &.category-news main
      background: $brown
        
    &.category-job-listing main
      background: $blue