/*
 * --------------------
 * Header Styling
 * --------------------
 */
.header-overlay .content-wrapper
  padding-top: calc(#{$navbar-height} + 40px)

.navbar > .container > .row,
.navbar > .container-fluid > .row
  flex: 1

#main-navbar
  height: $navbar-height
  justify-content: space-between
  background: none
  position: relative
  margin-bottom: #{-1 * $navbar-height}
  padding: 0 #{$grid-gutter-width / 2}
  z-index: 100
  transition: $transition-base
  .navbar-brand
    img
      max-height: $navbar-logo-height
      opacity: 1
      transition: $transition-base
      &:not(.regular-logo)
        display: none
        opacity: 0
  .main-navigation
    .nav-item
      padding: 0 1.5em
      margin-bottom: 0
    .seperator
      display: none
  .nav-toggle,
  .main-navigation .nav-link
    text-transform: uppercase
    font-weight: 700
    font-size: 30px
    text-decoration: none
    &:hover
      opacity: .9
  &.navbar-dark
    .nav-toggle,
    .navbar-nav .nav-link
      color: #fff
  &.js-is-stuck,
  &.js-is-sticky
    background: $tertiary
    .navbar-brand
      img
        max-height: $sticky-logo-height
        &.sticky-logo
          display: block
          opacity: 1
        &.sticky-logo ~ .regular-logo
          display: none
          opacity: 0
  &.js-is-stuck,
  &.js-is-sticky--change
    height: $sticky-navbar-height

@media screen and (min-width: map-get($grid-breakpoints, 'md')) and (max-width: 1400px)
  #main-navbar
    .main-navigation .nav-link
      font-size: $small-font-size

@media screen and (max-width: map-get($grid-breakpoints, 'lg'))
  #main-navbar
    .nav-container.active
      @include position(fixed, 0)
      background: $secondary
      display: flex !important
      flex-flow: column
      align-items: flex-start
      padding: 20px
      z-index: 100
      overflow: auto
    .main-navigation 
      .seperator
        display: block
        padding-top: 2em
      .nav-item
        @include padding(null 0);
  body.navigation-overlay
    overflow: hidden
